img {
  width: 500px;
  border: 10px solid black;
}

h1 {
  background-color: white;
  font-size: 100px;
  line-height: 1em;
}

h2 {
  background-color: white;
  font-size: 2.5em;
  line-height: 1em;
}

p {
  background-color: white;
  font-size: 3em;
  line-height: 1.5em;
}

body {
  background-image: url('../img/gold.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bolder;
  color: black;
  font-family: Apple Chancery;
  text-align: center;
}

a:link {
    color: black;
}

a:visited {
    color: 	black;
}

a:hover {
    color: blue;
}

a:active {
    color: white;
}

ul {
  background-color: hsla(60, 40%, 50%, 0.5);
  font-size: 1.8em;
  text-align: center;
  list-style: none;
}

ol {
  background-color: hsla(60, 10%, 50%, 0.5);
  font-size: 1.8em;
  text-align: center;
  list-style-position: inside;
}
